.idea/httpRequests/*.json
.idea/*.xml
.idea
limits-service/limits-service.iml


spring-cloud-config-server/spring-cloud-config-server.iml
currency-exchange-service/currency-exchange-service.iml
currency-conversion-service/currency-conversion-service.iml
netflix-eureka-naming-server/netflix-eureka-naming-server.iml
